  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500&display=swap');

  /* Estilização do MAIN*/
  main{
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .dados{
    margin-top: 0.45rem;
    display: flex;
    flex-direction: column;
  }

  .btn-doacao{
    display: block;
    padding: 25px;
    border-radius: 5px;  
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  #modal {
    display: none;
    position:fixed;
    z-index: 999;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right:auto ;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: whitesmoke;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .titulo-modal{
    color: #000000;
    font-size:2rem;
    font-weight: 700;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .subtitulo-modal{
    color: #000000;
    font-size: 1.4rem;
    font-weight: 550;
    display: flex;
    align-items: start;
    justify-content: start;
  }

  #closeModalBtn{
    margin-right: 0;
    margin-left: auto;
  }

  #estado{
    display: none;
    color: #07880d;
  }

  #descricao-doacao{
    border-radius: 5px;
    background-color: #c2c2c2;
    color: #474343;
  }

  .submit-pedido{
    background: #07880d;
    color: #FEFEFE;
    padding: 1.5rem;
    width: 100%;
  }

  .submit-pedido:hover{
    scale: 0.9;
    transition: 0.3s;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: -16px;
    right: -6px;
  }

  /* Nota em rating */
  .rate {
    float: left;
    height: 46px;
    padding: 0 10px;
  }
  .rate:not(:checked) > input {
      position:absolute;
      top:-9999px;
  }
  .rate:not(:checked) > label {
      float:right;
      width:1em;
      overflow:hidden;
      white-space:nowrap;
      cursor:pointer;
      font-size:30px;
      color:#ccc;
  }
  .rate:not(:checked) > label:before {
      content: '★ ';
  }
  .rate > input:checked ~ label {
      color: #ffc700;    
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
      color: #deb217;  
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
      color: #c59b08;
  }

  /* FIM RATING*/

  .nota{
    font-size: 22px;
    font-weight: 400;
  }

  .titulos{
    font-size: 30px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
  }

  .informacoes{
    display: flex;
    flex-direction: row;
    padding: 15px;
  }

  .titulo-detalhes{
    margin-bottom: 0.5rem;
    font-size: 30px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;

  }

  .informacoes #contato{
    padding-right: 5px;
    padding-left: 5px;
  }
  .informacoes #contato .contato-titulo{
    font-size: 30px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;

  }

  /* FIM MAIN*/

  .conteudo {
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
    height: 100%;
    margin-top: 15px;

  }

  #contato {
    margin-left: 15px;
    margin-right: 15px;

  }

  .imagem-usuario {
    width: 300px;
    height: 300px;
    border-radius: 0.8rem;
  }

  span,p,h1{
    color: #FEFEFE;
  }

