  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500&display=swap');
/* Estilização da Main */

.btn .btn-outline-success {
}

.endereco{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.endereco-dados{
  display: flex;
  flex-direction: row wrap;
  gap: 0.6rem;
}

.endereco-dados label{
  font-size: 16px;
}
h1{
  font-size: 30px;
}

h1,h2,h5,p,label {
  
  color: #fefefe;
}

input{
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}

#avatar{
  width: 55px;
  height: 50px;
}

div{
  display: block;
}
#text-cabeçalho{
  text-align: center;
  border-bottom: solid 2px rgb(153, 153, 153);
  font-weight: bold;
  width: 20%;
  margin: auto;
}

#text-cabeçalho-2{
  text-align: start;
  border-bottom: solid 2px rgb(153, 153, 153);
  font-weight: bold;
  width: 100%;
}

#linhaCards{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.row img{
  width: 200px;
}
.card{
  display: flex;
  background-color: #E2E2E2;
}

aside li {
  margin: 12px 2px;
}

aside li a{
  color: white;
}

/* Estilos do formulário de cadastro */
.informacoes-pessoais,
.endereco {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 350px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#botao-alterar1{
  margin-right: 8px;
}

#botao-alterar2{
  margin-top: 10px;
  margin-right: 8px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #45a049;
}

.informacoes-pessoais{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.informacoes-pessoais input{
  margin-right: 10px;
}

.informacoes-adicionais{
  display: flex;
  flex-wrap: wrap;
}

.informacoes-adicionais input{
  margin-right: 10px;
}

aside ul li{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-group button{
  margin-top: 0px -2px;
}

.card-body a{
  background: #0b5ed7;
}

@media (max-width: 600px){
  #header{
    display: flex;
    flex-direction: column;
  }
}

.item-link{
  color: whitesmoke;
}

.item-link:hover{
  color: rgb(231, 16, 8);
  transition: 0.4s;
}