  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500&display=swap');
/* Estilização geral do site */
*{
    font-family: 'Inter',sans-serif;
    margin:0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

#body{
  background: #E2E2E2;
}

/* Estilização Header padrão*/
.navbar{
  height: 100%;
}

#nav_item{
  height: 100%;
}


/* Configurações do footer padrão da pagina*/



label {
  font-weight: bolder;
}
::placeholder {
  color: lightskyblue !important;
  opacity: 3;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:  lightskyblue !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:  lightskyblue !important;
  opacity:  3;
}
h1 {
   text-align: center;
}
#msg {
   height: 60px;
}
#grid-contatos tbody {
   cursor: pointer;
   width: 100%;
}