  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500&display=swap');

  /* Estilização geral do site */
  * {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
  }

  body {
    background-color: #E2E2E2;
  }

  /* Estilização Header padrão*/
  .navbar {
    height: 100%;
  }

  #nav_item {
    height: 100%;
  }

  .imgg {
    height: 150px;

    width: 150px;

    border-radius: 50%;

    object-fit: cover;

    background: #dfdfdf;
  }

  /* Estilização do MAIN*/
  main{
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .dados{
    margin-top: 0.45rem;
    display: flex;
    flex-direction: column;
  }

  .btn-doacao{
    display: block;
    padding: 25px;
    border-radius: 5px;  
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  /* Nota em rating */
  .rate {
    float: left;
    height: 46px;
    padding: 0 10px;
  }
  .rate:not(:checked) > input {
      position:absolute;
      top:-9999px;
  }
  .rate:not(:checked) > label {
      float:right;
      width:1em;
      overflow:hidden;
      white-space:nowrap;
      cursor:pointer;
      font-size:30px;
      color:#ccc;
  }
  .rate:not(:checked) > label:before {
      content: '★ ';
  }
  .rate > input:checked ~ label {
      color: #ffc700;    
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
      color: #deb217;  
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
      color: #c59b08;
  }

  /* FIM RATING*/

  .nota{
    font-size: 22px;
    font-weight: 400;
  }

  .titulos{
    font-size: 30px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
  }

  .informacoes{
    display: flex;
    flex-direction: row;
    padding: 15px;
  }

  .titulo-detalhes{
    margin-bottom: 0.5rem;
    font-size: 30px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;

  }

  .informacoes #contato{
    padding-right: 5px;
    padding-left: 5px;
  }
  .informacoes #contato .contato-titulo{
    font-size: 30px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;

  }

  /* FIM MAIN*/

  /* Configurações do footer padrão da pagina*/
  #footer_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    background-color: #989898;
    padding: 3rem 3.5rem;
  }

  #footer-socialmedia {
    margin-top: 1.45rem;
    gap: 1.15rem;
    display: flex;
  }

  #logo {
    width: 45%;
  }

  #footer-socialmedia .footer-link {
    width: 2.15rem;
    height: 2.15rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s;
  }

  #footer-socialmedia .footer-link i {
    font-size: 1.20rem;
    color: #DCDCE4;

  }

  #footer-socialmedia .footer-link :hover {
    opacity: 75%;
  }

  #instagram {
    background: linear-gradient(#7f37e9, #ff2992, #ff9807);
  }

  #facebook {
    background: linear-gradient(#3B91EA, #5777EB);
  }

  #whatsapp {
    background: #38B82F;
  }

  #footer_list {
    gap: 0.75rem;
    list-style: none;
  }

  #footer_list .footer-link {
    text-decoration: none;
    color: #DCDCE4;
    transition: all 0.35s;
  }

  #footer_list .footer-link:hover {
    opacity: 75%;
    color: #7f37e9;
  }


  .input-group {
    display: flex;
    border-radius: 4px;
    align-items: center;
    color: #DCDCE4;
  }

  .input-group input {
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    background: #D9D9D9;
    padding: 0.65rem;
  }

  .input-group button {
    background-color: #38B82F;
    color: #DCDCE4;
    border: none;
    padding: 0.5rem;
    font-size: 1.25rem;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    transition: all 0.5s;
  }

  .input-group button :hover {
    opacity: 80%;
  }

  #footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #7D7D7D;
    color: #D9D9D9;
  }

  .conteudo {
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
    height: 100%;

  }

  #contato {
    margin-left: 15px;
    margin-right: 15px;

  }

  .imagem-usuario {
    margin-left: 100px;
    width: 300px;
    height: 300px;
    border-radius: 0.8rem;
  }

  .imagem-perfil{
    margin-right: 1.2rem;
  }

  span,p,h1{
    color: #FEFEFE;
  }