@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500&display=swap');


/*Estilização Main*/
main{
  margin: 0px auto 40px;
  height: 100%;
  width: 100%;
}



#icon-donation{
  width: 2.4rem;
  height: 2.4rem;
}

.subtitulo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitulo .texto-subtitulo{
  font-size: 1.75rem;
  color: whitesmoke;
  opacity: 88%;
}

/*Inicio Cards*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 0.8rem 5vw;
  padding: 0;
  list-style-type: none;
  width: 80%;
}

.card {
  position: relative;
  display: block;
  max-height: 300px;
  max-width: 300px;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  opacity: 85%;

  -webkit-box-shadow: 19px 17px 23px 0px rgba(0,0,0,0.56);
  -moz-box-shadow: 19px 17px 23px 0px rgba(0,0,0,0.56);
  box-shadow: 19px 17px 23px 0px rgba(0,0,0,0.56);
}

.card__image {      
  max-width: 300px;
  height: 300px;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
/*Fim Cards*/

.cards{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Fim Main*/