  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500&display=swap');
/* Estilização geral do site */
*{
    font-family: 'Inter',sans-serif;
    margin:0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

html{
  width: 100%;
}

h1,label{
color: #FEFEFE;}

body{
  background-color: #E2E2E2;
  width: 100%;
}

/* Estilização Header padrão*/
.navbar{
  height: 100%;
}

#nav_item{
  height: 100%;
}

/*Estilização SIDEBAR*/

.sidebar-container {
  width: 220px;
  height: auto;
  background:linear-gradient(#19CAF0,#6898A3);
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 10px rgba(128, 128, 128, 0.507);
  transition: 0.5s;
  z-index: 10;
  position: absolute;
  margin: auto;
  left: auto;
}

.topo{
  display: grid;
  place-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.topo #perfil{
  width: 150px;
  height: 150 px;
  border-radius: 50%;
  object-fit: cover;
  background: #7D7D7D;
}

.topo .nome{
  margin-left: auto;
  margin-right: auto;
}

.menu li{
  margin-bottom: 2px;
  list-style: none;
}

.menu li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.filtros span{
  display: block;
}

#distance{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TOGGLE */
.toggle {
  position: absolute;
  top: 10px;
  right: -40px;
  z-index: -1;
  background-color: #191e24;
  height: 35px;
  width: 40px;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  flex-direction: column;
  cursor: pointer;
}

.lines {
  width: 60%;
  height: 2px;
  display: block;
  background-color: grey;
  padding-right: 10px;
}

.toggle-function {
  transform: translate(-220px, 0);
  transition: 0.5s;
}

.sidebar-container .divisao{
  width: 96%;
  height: 10px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  background: #191e24;
}

.filtros{
  margin-left: 8px;
}

.categorias-checkbox li{
  margin-bottom: 10px;
}

#distance{
  color:black;
  scale: 1.2;
  margin-left: auto;
  margin-right: auto;
}

.distancia-label{
  display: grid;
  grid-template-columns: 1fr 1fr;  
}

.distancias{
  margin-left: auto;
  margin-right: auto;
}

.avaliacao{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#filtros1{
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}

#filtros{
  font-size: 18px;
  font-weight: 450;
}

.categorias-checkbox img{
  width: 48px;
  height: 48px;
}

/*FIM SIDEBAR*/

/*ESTILIZAÇÃO DO MAIN*/

.input-group{
  display: flex;
  border-radius: 4px;
  align-items: center;
  color: #DCDCE4;
}

.input-group input{
  height: 100%;
  border-radius: 5px 0px 0px 5px;
  background: #D9D9D9;
  padding: 0.65rem;
}

.input-group button{
  background-color: #38B82F;
  color: #DCDCE4;
  border: none;
  padding: 0.5rem;
  font-size: 1.25rem;
  height: 100%;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  transition: all 0.5s;
}

.input-group button :hover{
  opacity: 80%;
}

#footer_copyright{
  display: flex;
  justify-content: center;
  background-color: #7D7D7D;
  color: #D9D9D9;
}

#title-comunicação{
  text-align: center;
  
}
#background-seletores{
  background-color: #CCCED1;
  border-radius: 4px;
  width: 1920px;
  height: 103px;
}
#chat-1{
  margin-left: 50px;
}
#chat-2{
  margin-left: 50px;
}
#img-perfil{
  width: 94px;
  height: 89px;
  border-radius: 200px;
  margin-right: 20px;
}
.container { 
  font-family: 'Montserrat', monospace; 
  font-weight: bold;  

}
.results-container {
  max-height: 700px;
  overflow-y:scroll;
}
textarea:focus,
input:focus{
  outline:none;
}
.container input {
  width: 98%;
  height: 25px; 
  border: 1px solid #9985FB; 
  border-radius: 25px; 
  color: rgb(12, 11, 11);
  margin-bottom: 25px; 
  padding-left: 2%;
}
.post{
  display:flex;
  flex-direction: row;
  background-color: #282828;
  padding: 2%;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
  margin-bottom: 25px;
}
.post:hover{
  box-shadow: 0px 2px 1px #2900f7;
}
.post img{
  width: 100px;
  height: 100px;
}
.post h1{
  font-size: 20px;
  margin: auto;
  margin-left: 25px;
}
.post h2{
  font-size: 15px;
}
a{
  text-decoration: none;
}
/* FIM DA ESTILIZAÇÃO DO MAIN*/

/* Configurações do footer padrão da pagina*/
#footer_content{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  background-color: #989898;
  padding: 3rem 3.5rem;
}

#footer-socialmedia{
  margin-top: 1.45rem;
  display: flex;
  gap: 1.15rem;
}

#logo{
  width: 45%;
}

#footer-socialmedia .footer-link{
  width: 2.15rem;
  height: 2.15rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s;
}

#footer-socialmedia .footer-link i{
  font-size: 1.20rem;
  color: #DCDCE4 ;

}

#footer-socialmedia .footer-link :hover{
  opacity: 75%;
}

#instagram{
  background: linear-gradient(#7f37e9,#ff2992,#ff9807);
}

#facebook{
  background: linear-gradient(#3B91EA,#5777EB);
}

#whatsapp{
  background: #38B82F ;
}

#footer_list{
  gap: 0.75rem;
  list-style: none;
}

#footer_list .footer-link{
  text-decoration: none;
  color: #DCDCE4;
  transition: all 0.35s;  
}

#footer_list .footer-link:hover{
  opacity: 75%;
  color: #7f37e9;
}

#area input{
 display: inline-flex;
 margin-left: 5px;
 width: 38rem;
 border: solid 1px black;
}

label{
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

textarea{
  width: 38rem;
  height: 10rem;
  border: solid 1px black;
}

.card p,h4{
  margin-left: 10px;
  color: black;
}
.card h4{
  margin-top: 10px;
}

.cardMensagem{
  margin-bottom: 14px;
}

.card{
  background-color: rgb(106, 105, 110);
}

#msg{
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  overflow-y: auto;
}

@media (max-width: 653px) {
  textarea{
    width: 15rem;
  }

  #area input{
    display: inline-flex;
    margin-left: 5px;
    width: 15rem;
  }
}
