<<<<<<< Updated upstream
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500&display=swap');

/* Estilização geral do site */

* {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
    background-color: #E2E2E2;
}

.nav-item .nav-link.active {
    /* Estilos para o elemento <a> com a classe "nav-link active" dentro do elemento <li> com a classe "nav-item" */
    color: #212529;
    /* Define a cor do texto para #212529 */
    font-size: 24px;
    /* Define o tamanho da fonte para 24 pixels */
    /* Adicione aqui outros estilos desejados */
}

.navbar-nav .nav-link {
    font-size: 24px;
    /* Define o tamanho da fonte para 24 pixels */
}


/* Estilos personalizados para a barra de pesquisa */

.navbar-brand img {
    width: 200px;
    /* Defina o valor desejado para a largura */
    /* A altura será ajustada automaticamente proporcionalmente à largura */
}

.navbar-brand {
    width: 100px;
    font-size: 24px;
    /* Defina a largura desejada para o logotipo */
}

.navbar-brand {
    width: 100px;
    /* Defina a largura desejada para o logotipo */
}

.form-control {
    width: 300px;
    /* Defina a largura desejada para o campo de pesquisa */
}

body {
    background: #eee;
    font-family: Tahoma;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 20px;
}

.d-block,
h2 {
    color: #33475c;
    font-weight: 700;
    font-size: 2.5rem;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}


/* ============= Begin Testimonial Flexbox ============ */

#flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    height: 110vh;
    max-width: 1000px;
    margin: auto;
    background-color: #f3f2f2;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

#left-zone {
    height: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

#left-zone .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.item input {
    display: none;
}

label {
    display: block;
    opacity: 0.5;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: relative;
}

label:hover {
    opacity: 0.75;
    cursor: pointer;
}

.content-test {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    height: 50%;
    width: 100%;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: none;
}

.content-test p {
    max-width: 50%;
    text-align: center;
}

#right-zone {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    height: 50%;
}

input:checked~.content-test {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    opacity: 1;
}

@media (min-width: 480px) {
    #flex-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        min-height: auto;
        height: 400px;
        /* position: absolute; */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    #left-zone .list {
        border-right: 2px solid #cccccc;
    }
    .content-test {
        width: 65%;
        height: 100%;
        pointer-events: auto;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    #left-zone {
        width: 35%;
    }
    #right-zone {
        height: 100%;
        width: 65%;
    }
}


/* If the screen size is 480px or less */

@media (max-width: 480px) {
    .content_testimonial-1 .picto {
        padding-top: 100px;
    }
    .content_testimonial-2 .picto {
        padding-top: 100px;
    }
    .content_testimonial-3 .picto {
        padding-top: 100px;
    }
    .content_testimonial-4 .picto {
        padding-top: 100px;
    }
    .item>label {
        font-size: 1.3rem;
    }
}

.content_testimonial-1 .picto {
    height: 200px;
    width: 200px;
    background-image: url("https://pps.whatsapp.net/v/t61.24694-24/325956469_259171209775190_5393916226743032116_n.jpg?ccb=11-4&oh=01_AdRmT1NGi1gVHrU3vZS9_Fh32AaTbZqJsIYrA1M680cXzg&oe=6474D4BA");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content_testimonial-1 h1 {
    color: #0e5714;
    text-align: center;
}

.content_testimonial-2 .picto {
    height: 200px;
    width: 200px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVbFcBh440je6ybB_2LOCG9rOjl4ufNjKxDQ&usqp=CAU");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content_testimonial-2 h1 {
    color: #d84234;
}

.content_testimonial-3 .picto {
    height: 200px;
    width: 200px;
    background-image: url("https://chniteroi.com.br/SiteAssets/chn%20doa%C3%A7%C3%A3o%20de%20%C3%B3rg%C3%A3os%20setembro%20verde.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content_testimonial-3 h1 {
    color: #00b16a;
}

.content_testimonial-4 .picto {
    height: 100px;
    width: 200px;
    background-image: url("https://blog.ailos.coop.br/wp-content/uploads/sites/4/2023/01/para-que-serve-seguro-invalidez.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content_testimonial-4 h1 {
    color: #f27935;
}

.content-test h1:first-letter {
    text-transform: uppercase;
}

input:checked~label {
    opacity: 1;
    -webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

input:checked~label.label_testimonial-1 {
    color: #0e5714;
    border-right: solid 4px #0e5714;
}

input:checked~label.label_testimonial-2 {
    color: #d84234;
    border-right: solid 4px #d84234;
}

input:checked~label.label_testimonial-3 {
    color: #00b16a;
    border-right: solid 4px #00b16a;
}

input:checked~label.label_testimonial-4 {
    color: #f27935;
    border-right: solid 4px #f27935;
}

label.label_testimonial-1:before {
    content: " ";
    display: block;
    position: absolute;
    width: 60px;
    height: 50px;
    margin-left: 15px;
    background-image: url("https://pps.whatsapp.net/v/t61.24694-24/325956469_259171209775190_5393916226743032116_n.jpg?ccb=11-4&oh=01_AdRmT1NGi1gVHrU3vZS9_Fh32AaTbZqJsIYrA1M680cXzg&oe=6474D4BA");
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    border-radius: 50%;
}

label.label_testimonial-2:before {
    content: " ";
    display: block;
    position: absolute;
    width: 60px;
    height: 50px;
    margin-left: 15px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVbFcBh440je6ybB_2LOCG9rOjl4ufNjKxDQ&usqp=CAU");
    background-position: center;
    background-size: 75% 75%;
    border-radius: 50%;
    background-repeat: no-repeat;
}

label.label_testimonial-3:before {
    content: " ";
    display: block;
    position: absolute;
    width: 60px;
    height: 50px;
    margin-left: 15px;
    background-image: url("https://chniteroi.com.br/SiteAssets/chn%20doa%C3%A7%C3%A3o%20de%20%C3%B3rg%C3%A3os%20setembro%20verde.jpg");
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    border-radius: 50%;
}

label.label_testimonial-4:before {
    content: " ";
    display: block;
    position: absolute;
    width: 70px;
    height: 50px;
    margin-left: 15px;
    background-image: url("https://blog.ailos.coop.br/wp-content/uploads/sites/4/2023/01/para-que-serve-seguro-invalidez.jpg");
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    border-radius: 50%;
}

label:first-letter {
    text-transform: uppercase;
}

.label_testimonial-1:hover {
    background-image: -webkit-gradient( linear, left top, right top, from(#ffffff), to(#0e5714));
    background-image: -webkit-linear-gradient(left, #ffffff, #0e5714);
    background-image: -o-linear-gradient(left, #ffffff, #0e5714);
    background-image: linear-gradient(to right, #ffffff, #0e5714);
    font-size: 1.2rem;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
}

.label_testimonial-2:hover {
    background-image: -webkit-gradient( linear, left top, right top, from(#ffffff), to(#d84234));
    background-image: -webkit-linear-gradient(left, #ffffff, #d84234);
    background-image: -o-linear-gradient(left, #ffffff, #d84234);
    background-image: linear-gradient(to right, #ffffff, #d84234);
    font-size: 1.2rem;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
}

.label_testimonial-3:hover {
    background-image: -webkit-gradient( linear, left top, right top, from(#ffffff), to(#00b16aa3));
    background-image: -webkit-linear-gradient(left, #ffffff, #00b16aa3);
    background-image: -o-linear-gradient(left, #ffffff, #00b16aa3);
    background-image: linear-gradient(to right, #ffffff, #00b16aa3);
    font-size: 1.2rem;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
}

.label_testimonial-4:hover {
    background-image: -webkit-gradient( linear, left top, right top, from(#ffffff), to(#f27935a3));
    background-image: -webkit-linear-gradient(left, #ffffff, #f27935a3);
    background-image: -o-linear-gradient(left, #ffffff, #f27935a3);
    background-image: linear-gradient(to right, #ffffff, #f27935a3);
    font-size: 1.2rem;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
}

p.testimonialState {
    margin-top: -5px;
    font-size: 0.8rem;
    font-style: italic;
    color: #808080d4;
}

p.testimonialFrom {
    margin-top: 5px;
    font-weight: bold;
    color: #33475c;
}


/* ============== End Testimonial Flexbox ============= */

#nav_item {
    height: 100%;
}


/* Configurações do footer padrão da pagina*/

#footer_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    background-color: #989898;
    padding: 3rem 3.5rem;
}

#footer-socialmedia {
    margin-top: 1.45rem;
    display: flex;
    gap: 1.15rem;
}

#logo {
    width: 40%;
    height: 60%;
}

#footer-socialmedia .footer-link {
    width: 2.15rem;
    height: 2.15rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s;
}

#footer-socialmedia .footer-link i {
    font-size: 1.20rem;
    color: #DCDCE4;
}

#footer-socialmedia .footer-link :hover {
    opacity: 75%;
}

#instagram {
    background: linear-gradient(#7f37e9, #ff2992, #ff9807);
}

#facebook {
    background: linear-gradient(#3B91EA, #5777EB);
}

#whatsapp {
    background: #38B82F;
}

#footer_list {
    gap: 0.75rem;
    list-style: none;
}

#footer_list .footer-link {
    text-decoration: none;
    color: #DCDCE4;
    transition: all 0.35s;
}

#footer_list .footer-link:hover {
    opacity: 75%;
    color: #7f37e9;
}

.input-group {
    display: flex;
    border-radius: 4px;
    align-items: center;
    color: #DCDCE4;
}

.input-group input {
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    background: #D9D9D9;
    padding: 0.65rem;
}

.input-group button {
    background-color: #38B82F;
    color: #DCDCE4;
    border: none;
    padding: 0.5rem;
    font-size: 1.25rem;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    transition: all 0.5s;
}

.input-group button :hover {
    opacity: 80%;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #7D7D7D;
    color: #D9D9D9;
}

.card {
    max-width: 330px;
    height: 570px;
    margin: auto;
    padding: 0px;
    overflow-y: auto;
    position: relative;
    z-index: 2;
    overflow-x: hidden;
    background-color: rgb(251, 251, 251);
    display: flex;
    transition: 0.3s;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.2);
}

.card.is-active .card-avatar {
    transform: none;
    left: 20px;
    width: 50px;
    height: 50px;
}

.card-header {
    position: relative;
    display: flex;
    height: 250px;
    flex-shrink: 10;
    width: 100%;
    transition: 0.3s;
}

.card-avatar {
    width: 100px;
    height: 100px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    -o-object-position: center;
    object-position: center;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-64px);
}

.card-fullname {
    position: absolute;
    bottom: 0;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    transform: translateY(-10px) translateX(-50%);
    left: 50%;
}

.card-jobtitle {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    white-space: nowrap;
    font-weight: 500;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-7px);
}

.card-main {
    position: left;
    flex: 1;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
}

.card-subtitle {
    font-weight: 700;
    font-size: 13px;
}

.card-content {
    padding: 50px;
}

.solucoes-box {
    background-color: #ffffff;
    padding: 0.5rem;
    margin-bottom: 5rem;
    transition: all 200ms ease;
}

.solucoes-box:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 2.5);
}

.solucoes-box .solucoes-ico {
    margin-bottom: 5rem;
    color: #004398;
}

.solucoes-box .icone-solucoes {
    transition: all 300ms ease;
    font-size: 3.5rem;
}

.circle {
    background-color: #231b1b;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: center;
}

.personal-image {
    text-align: center;
}

.personal-image input[type="file"] {
    display: none;
}

.personal-figure {
    position: relative;
    width: 200px;
    height: 200px;
}

.personal-avatar {
    cursor: pointer;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
}

.personal-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
}

.personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
}

.personal-figcaption>img {
    margin-top: 32.5px;
    width: 100px;
    height: 100px;
}

.scroll-container {
    width: 200px;
    height: 200px;
    overflow: auto;
}

body {
    height: 2000px;
}

.texto_cards1 {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 40px;
    background-color: rgb(231, 229, 229);
}

.texto_cards {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;
    background-color: rgb(231, 229, 229);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    background-color: #050505;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #363434;
    color: #ffffff;
}

.card-subtitle {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.text-with-image {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.text-with-image img {
    margin-right: 10px;
}

.text-with-image h1 {
    font-size: 24px;
    margin: 0;
}

.text-with-image h1 {
    font-size: 40px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

#conteudo {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

#conteudo::-webkit-scrollbar {
    width: 8px;
}

#conteudo::-webkit-scrollbar-track {
    background-color: transparent;
}

#conteudo::-webkit-scrollbar-thumb {
    background-color: transparent;
    background-image: url('caminho/para/imagem.png');
    background-size: cover;
}

.banner {
    display: none;
    width: 200px;
    height: 100px;
    background-color: yellow;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    border: none;
    background: #000000;
    padding: 16px 30px;
    color: #fff;
    border-radius: 6px;
    transition: 0.2s;
}

button:hover {
    box-shadow: 0 0 0 4px #fff, 0 0 0 8px #000000;
}

#logo1 {
    width: 100px;
    /* Defina o tamanho desejado para a largura */
    height: 100px;
    /* Defina o tamanho desejado para a altura */
}

.product-card {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 280px;
    height: 550px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    overflow-y: hidden;
    border: 10px solid #ccc;
    margin-left: 20px;
}

.product-card__image {
    display: block;
    max-width: 100%;
    animation: fadeIn 0.25s;
}

.product-card__caption {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #101026;
    font-size: 14px;
    color: #c8c2c2;
    letter-spacing: 1px;
    padding: 20px;
    border-radius: inherit;
    animation: fadeIn 0.5s;
}

.product-card__title {
    font-size: 18px;
    text-transform: uppercase;
}

.product-card__subtitle {
    color: #d8d7e3;
}

.product-card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-card__price {
    font-weight: 600;
}

.product-card__button {
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    background-color: #bbbdc5;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 40%;
    cursor: pointer;
    transition: background-color 0.25s;
}

.product-card__button:hover,
.product-card__button:focus {
    background-color: #cdcdde;
}

.product-card__icon {
    font-size: 18px;
    transition: transform 0.25s;
}

.product-card__button:hover .product-card__icon,
.product-card__button:focus .product-card__icon {
    transform: rotate(2turn);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

button1 {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #035609;
    color: white;
    border: none;
    cursor: pointer;
}

button1:hover {
    background-color: #45a049;
}

button1:active {
    background-color: #3e8e41;
}

.container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card {
    position: relative;
    border-radius: 10px;
}

.container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.container .card:nth-child(1) .icon {
    background: #e07768;
}

.container .card:nth-child(2) .icon {
    background: #6eadd4;
}

.container .card:nth-child(3) .icon {
    background: #4aada9;
}

.container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.row .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1 {
    background: #ff0057;
    transform: translateY(0px);
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content i {
    max-width: 100px;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2 {
    transform: translateY(0);
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
}

.container a {
    text-decoration: none;
    color: #414141;
}

.container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
}

.container .card9 {
    position: relative;
    cursor: pointer;
}

.container .card9 .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card9 .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card9:hover .face.face1 {
    background: #ff0057;
    transform: translateY(0);
}

.container .card9 .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
}

.container .card9:hover .face.face1 .content {
    opacity: 1;
}

.container .card9 .face.face1 .content img {
    max-width: 100px;
}

.container .card9 .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card9 .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card9:hover .face.face2 {
    transform: translateY(0);
}

.container .card9 .face.face2 .content p {
    margin: 0;
    padding: 0;
}

.container .card9 .face.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card9 .face.face2 .content a:hover {
    background: #333;
    color: #fff;
}

.container .card9 .face.face1 .content img.rounded-image {
    border-radius: 100%;
}
=======
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500&display=swap');

/* Estilização geral do site */

* {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
    background-color: #E2E2E2;
}

.nav-item .nav-link.active {
    /* Estilos para o elemento <a> com a classe "nav-link active" dentro do elemento <li> com a classe "nav-item" */
    color: #212529;
    /* Define a cor do texto para #212529 */
    font-size: 24px;
    /* Define o tamanho da fonte para 24 pixels */
    /* Adicione aqui outros estilos desejados */
}

.navbar-nav .nav-link {
    font-size: 24px;
    /* Define o tamanho da fonte para 24 pixels */
}


/* Estilos personalizados para a barra de pesquisa */

.navbar-brand img {
    width: 200px;
    /* Defina o valor desejado para a largura */
    /* A altura será ajustada automaticamente proporcionalmente à largura */
}

.navbar-brand {
    width: 100px;
    font-size: 24px;
    /* Defina a largura desejada para o logotipo */
}

.navbar-brand {
    width: 100px;
    /* Defina a largura desejada para o logotipo */
}

.form-control {
    width: 300px;
    /* Defina a largura desejada para o campo de pesquisa */
}

body {
    background: #eee;
    font-family: Tahoma;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 20px;
}

.d-block,
h2 {
    color: #33475c;
    font-weight: 700;
    font-size: 2.5rem;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}


/* ============= Begin Testimonial Flexbox ============ */

#flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    height: 110vh;
    max-width: 1000px;
    margin: auto;
    background-color: #f3f2f2;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

#left-zone {
    height: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

#left-zone .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.item input {
    display: none;
}

label {
    display: block;
    opacity: 0.5;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: relative;
}

label:hover {
    opacity: 0.75;
    cursor: pointer;
}

.content-test {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    height: 50%;
    width: 100%;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: none;
}

.content-test p {
    max-width: 50%;
    text-align: center;
}

#right-zone {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    height: 50%;
}

input:checked~.content-test {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    opacity: 1;
}

@media (min-width: 480px) {
    #flex-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        min-height: auto;
        height: 400px;
        /* position: absolute; */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    #left-zone .list {
        border-right: 2px solid #cccccc;
    }
    .content-test {
        width: 65%;
        height: 100%;
        pointer-events: auto;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    #left-zone {
        width: 35%;
    }
    #right-zone {
        height: 100%;
        width: 65%;
    }
}


/* If the screen size is 480px or less */

@media (max-width: 480px) {
    .content_testimonial-1 .picto {
        padding-top: 100px;
    }
    .content_testimonial-2 .picto {
        padding-top: 100px;
    }
    .content_testimonial-3 .picto {
        padding-top: 100px;
    }
    .content_testimonial-4 .picto {
        padding-top: 100px;
    }
    .item>label {
        font-size: 1.3rem;
    }
}

.content_testimonial-1 .picto {
    height: 200px;
    width: 200px;
    background-image: url("https://pps.whatsapp.net/v/t61.24694-24/325956469_259171209775190_5393916226743032116_n.jpg?ccb=11-4&oh=01_AdRmT1NGi1gVHrU3vZS9_Fh32AaTbZqJsIYrA1M680cXzg&oe=6474D4BA");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content_testimonial-1 h1 {
    color: #0e5714;
    text-align: center;
}

.content_testimonial-2 .picto {
    height: 200px;
    width: 200px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVbFcBh440je6ybB_2LOCG9rOjl4ufNjKxDQ&usqp=CAU");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content_testimonial-2 h1 {
    color: #d84234;
}

.content_testimonial-3 .picto {
    height: 200px;
    width: 200px;
    background-image: url("https://chniteroi.com.br/SiteAssets/chn%20doa%C3%A7%C3%A3o%20de%20%C3%B3rg%C3%A3os%20setembro%20verde.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content_testimonial-3 h1 {
    color: #00b16a;
}

.content_testimonial-4 .picto {
    height: 100px;
    width: 200px;
    background-image: url("https://blog.ailos.coop.br/wp-content/uploads/sites/4/2023/01/para-que-serve-seguro-invalidez.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content_testimonial-4 h1 {
    color: #f27935;
}

.content-test h1:first-letter {
    text-transform: uppercase;
}

input:checked~label {
    opacity: 1;
    -webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

input:checked~label.label_testimonial-1 {
    color: #0e5714;
    border-right: solid 4px #0e5714;
}

input:checked~label.label_testimonial-2 {
    color: #d84234;
    border-right: solid 4px #d84234;
}

input:checked~label.label_testimonial-3 {
    color: #00b16a;
    border-right: solid 4px #00b16a;
}

input:checked~label.label_testimonial-4 {
    color: #f27935;
    border-right: solid 4px #f27935;
}

label.label_testimonial-1:before {
    content: " ";
    display: block;
    position: absolute;
    width: 60px;
    height: 50px;
    margin-left: 15px;
    background-image: url("https://pps.whatsapp.net/v/t61.24694-24/325956469_259171209775190_5393916226743032116_n.jpg?ccb=11-4&oh=01_AdRmT1NGi1gVHrU3vZS9_Fh32AaTbZqJsIYrA1M680cXzg&oe=6474D4BA");
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    border-radius: 50%;
}

label.label_testimonial-2:before {
    content: " ";
    display: block;
    position: absolute;
    width: 60px;
    height: 50px;
    margin-left: 15px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVbFcBh440je6ybB_2LOCG9rOjl4ufNjKxDQ&usqp=CAU");
    background-position: center;
    background-size: 75% 75%;
    border-radius: 50%;
    background-repeat: no-repeat;
}

label.label_testimonial-3:before {
    content: " ";
    display: block;
    position: absolute;
    width: 60px;
    height: 50px;
    margin-left: 15px;
    background-image: url("https://chniteroi.com.br/SiteAssets/chn%20doa%C3%A7%C3%A3o%20de%20%C3%B3rg%C3%A3os%20setembro%20verde.jpg");
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    border-radius: 50%;
}

label.label_testimonial-4:before {
    content: " ";
    display: block;
    position: absolute;
    width: 70px;
    height: 50px;
    margin-left: 15px;
    background-image: url("https://blog.ailos.coop.br/wp-content/uploads/sites/4/2023/01/para-que-serve-seguro-invalidez.jpg");
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    border-radius: 50%;
}

label:first-letter {
    text-transform: uppercase;
}

.label_testimonial-1:hover {
    background-image: -webkit-gradient( linear, left top, right top, from(#ffffff), to(#0e5714));
    background-image: -webkit-linear-gradient(left, #ffffff, #0e5714);
    background-image: -o-linear-gradient(left, #ffffff, #0e5714);
    background-image: linear-gradient(to right, #ffffff, #0e5714);
    font-size: 1.2rem;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
}

.label_testimonial-2:hover {
    background-image: -webkit-gradient( linear, left top, right top, from(#ffffff), to(#d84234));
    background-image: -webkit-linear-gradient(left, #ffffff, #d84234);
    background-image: -o-linear-gradient(left, #ffffff, #d84234);
    background-image: linear-gradient(to right, #ffffff, #d84234);
    font-size: 1.2rem;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
}

.label_testimonial-3:hover {
    background-image: -webkit-gradient( linear, left top, right top, from(#ffffff), to(#00b16aa3));
    background-image: -webkit-linear-gradient(left, #ffffff, #00b16aa3);
    background-image: -o-linear-gradient(left, #ffffff, #00b16aa3);
    background-image: linear-gradient(to right, #ffffff, #00b16aa3);
    font-size: 1.2rem;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
}

.label_testimonial-4:hover {
    background-image: -webkit-gradient( linear, left top, right top, from(#ffffff), to(#f27935a3));
    background-image: -webkit-linear-gradient(left, #ffffff, #f27935a3);
    background-image: -o-linear-gradient(left, #ffffff, #f27935a3);
    background-image: linear-gradient(to right, #ffffff, #f27935a3);
    font-size: 1.2rem;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
}

p.testimonialState {
    margin-top: -5px;
    font-size: 0.8rem;
    font-style: italic;
    color: #808080d4;
}

p.testimonialFrom {
    margin-top: 5px;
    font-weight: bold;
    color: #33475c;
}


/* ============== End Testimonial Flexbox ============= */

#nav_item {
    height: 100%;
}


/* Configurações do footer padrão da pagina*/

#footer_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    background-color: #989898;
    padding: 3rem 3.5rem;
}

#footer-socialmedia {
    margin-top: 1.45rem;
    display: flex;
    gap: 1.15rem;
}

#logo {
    width: 40%;
    height: 60%;
}

#footer-socialmedia .footer-link {
    width: 2.15rem;
    height: 2.15rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s;
}

#footer-socialmedia .footer-link i {
    font-size: 1.20rem;
    color: #DCDCE4;
}

#footer-socialmedia .footer-link :hover {
    opacity: 75%;
}

#instagram {
    background: linear-gradient(#7f37e9, #ff2992, #ff9807);
}

#facebook {
    background: linear-gradient(#3B91EA, #5777EB);
}

#whatsapp {
    background: #38B82F;
}

#footer_list {
    gap: 0.75rem;
    list-style: none;
}

#footer_list .footer-link {
    text-decoration: none;
    color: #DCDCE4;
    transition: all 0.35s;
}

#footer_list .footer-link:hover {
    opacity: 75%;
    color: #7f37e9;
}

.input-group {
    display: flex;
    border-radius: 4px;
    align-items: center;
    color: #DCDCE4;
}

.input-group input {
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    background: #D9D9D9;
    padding: 0.65rem;
}

.input-group button {
    background-color: #38B82F;
    color: #DCDCE4;
    border: none;
    padding: 0.5rem;
    font-size: 1.25rem;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    transition: all 0.5s;
}

.input-group button :hover {
    opacity: 80%;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #7D7D7D;
    color: #D9D9D9;
}

.card {
    max-width: 330px;
    height: 570px;
    margin: auto;
    padding: 0px;
    overflow-y: auto;
    position: relative;
    z-index: 2;
    overflow-x: hidden;
    background-color: rgb(251, 251, 251);
    display: flex;
    transition: 0.3s;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.2);
}

.card.is-active .card-avatar {
    transform: none;
    left: 20px;
    width: 50px;
    height: 50px;
}

.card-header {
    position: relative;
    display: flex;
    height: 250px;
    flex-shrink: 10;
    width: 100%;
    transition: 0.3s;
}

.card-avatar {
    width: 100px;
    height: 100px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    -o-object-position: center;
    object-position: center;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-64px);
}

.card-fullname {
    position: absolute;
    bottom: 0;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    transform: translateY(-10px) translateX(-50%);
    left: 50%;
}

.card-jobtitle {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    white-space: nowrap;
    font-weight: 500;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-7px);
}

.card-main {
    position: left;
    flex: 1;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
}

.card-subtitle {
    font-weight: 700;
    font-size: 13px;
}

.card-content {
    padding: 50px;
}

.solucoes-box {
    background-color: #ffffff;
    padding: 0.5rem;
    margin-bottom: 5rem;
    transition: all 200ms ease;
}

.solucoes-box:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 2.5);
}

.solucoes-box .solucoes-ico {
    margin-bottom: 5rem;
    color: #004398;
}

.solucoes-box .icone-solucoes {
    transition: all 300ms ease;
    font-size: 3.5rem;
}

.circle {
    background-color: #231b1b;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: center;
}

.personal-image {
    text-align: center;
}

.personal-image input[type="file"] {
    display: none;
}

.personal-figure {
    position: relative;
    width: 200px;
    height: 200px;
}

.personal-avatar {
    cursor: pointer;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
}

.personal-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
}

.personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
}

.personal-figcaption>img {
    margin-top: 32.5px;
    width: 100px;
    height: 100px;
}

.scroll-container {
    width: 200px;
    height: 200px;
    overflow: auto;
}

body {
    height: 2000px;
}

.texto_cards1 {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 40px;
    background-color: rgb(231, 229, 229);
}

.texto_cards {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;
    background-color: rgb(231, 229, 229);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    background-color: #050505;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #363434;
    color: #ffffff;
}

.card-subtitle {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.text-with-image {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.text-with-image img {
    margin-right: 10px;
}

.text-with-image h1 {
    font-size: 24px;
    margin: 0;
}

.text-with-image h1 {
    font-size: 40px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

#conteudo {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

#conteudo::-webkit-scrollbar {
    width: 8px;
}

#conteudo::-webkit-scrollbar-track {
    background-color: transparent;
}

#conteudo::-webkit-scrollbar-thumb {
    background-color: transparent;
    background-image: url('caminho/para/imagem.png');
    background-size: cover;
}

.banner {
    display: none;
    width: 200px;
    height: 100px;
    background-color: yellow;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    border: none;
    background: #000000;
    padding: 16px 30px;
    color: #fff;
    border-radius: 6px;
    transition: 0.2s;
}

button:hover {
    box-shadow: 0 0 0 4px #fff, 0 0 0 8px #000000;
}

#logo1 {
    width: 100px;
    /* Defina o tamanho desejado para a largura */
    height: 100px;
    /* Defina o tamanho desejado para a altura */
}

.product-card {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 280px;
    height: 550px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    overflow-y: hidden;
    border: 10px solid #ccc;
    margin-left: 20px;
}

.product-card__image {
    display: block;
    max-width: 100%;
    animation: fadeIn 0.25s;
}

.product-card__caption {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #101026;
    font-size: 14px;
    color: #c8c2c2;
    letter-spacing: 1px;
    padding: 20px;
    border-radius: inherit;
    animation: fadeIn 0.5s;
}

.product-card__title {
    font-size: 18px;
    text-transform: uppercase;
}

.product-card__subtitle {
    color: #d8d7e3;
}

.product-card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-card__price {
    font-weight: 600;
}

.product-card__button {
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    background-color: #bbbdc5;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 40%;
    cursor: pointer;
    transition: background-color 0.25s;
}

.product-card__button:hover,
.product-card__button:focus {
    background-color: #cdcdde;
}

.product-card__icon {
    font-size: 18px;
    transition: transform 0.25s;
}

.product-card__button:hover .product-card__icon,
.product-card__button:focus .product-card__icon {
    transform: rotate(2turn);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

button1 {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #035609;
    color: white;
    border: none;
    cursor: pointer;
}

button1:hover {
    background-color: #45a049;
}

button1:active {
    background-color: #3e8e41;
}

.container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card {
    position: relative;
    border-radius: 10px;
}

.container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.container .card:nth-child(1) .icon {
    background: #e07768;
}

.container .card:nth-child(2) .icon {
    background: #6eadd4;
}

.container .card:nth-child(3) .icon {
    background: #4aada9;
}

.container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.row .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1 {
    background: #ff0057;
    transform: translateY(0px);
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content i {
    max-width: 100px;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2 {
    transform: translateY(0);
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
}

.container a {
    text-decoration: none;
    color: #414141;
}

.container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
}

.container .card9 {
    position: relative;
    cursor: pointer;
}

.container .card9 .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card9 .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card9:hover .face.face1 {
    background: #ff0057;
    transform: translateY(0);
}

.container .card9 .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
}

.container .card9:hover .face.face1 .content {
    opacity: 1;
}

.container .card9 .face.face1 .content img {
    max-width: 100px;
}

.container .card9 .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card9 .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card9:hover .face.face2 {
    transform: translateY(0);
}

.container .card9 .face.face2 .content p {
    margin: 0;
    padding: 0;
}

.container .card9 .face.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card9 .face.face2 .content a:hover {
    background: #333;
    color: #fff;
}

.container .card9 .face.face1 .content img.rounded-image {
    border-radius: 100%;
}
>>>>>>> Stashed changes
