  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500&display=swap');

  /* Estilização geral do site */
  * {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
  }

  body {
    /*background:linear-gradient(135deg,rgb(89, 2, 202) 25%, rgb(3, 52, 156) 50%, rgb(10, 111, 194) 75%);*/
    background: linear-gradient(135deg, rgb(49, 99, 192) 15%, rgb(0, 5, 14) 85%);
  }

  /* Estilização Header padrão*/
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
  }

  #logo {
    display: inline;
    margin: 10px 20px;
    width: 200px;
    height: 80px;
    background: white;
  }

  i.fa-solid.fa-house:hover {
    transform: scale(1.025);
    transition-duration: 0.1s;
  }

  i.fa-solid.fa-house {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    font-size: 26px;
  }

  /*Configuração do login entrar e cadastrar*/

  .login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 60px 80px;
  }

  .ilustration_login {
    width: 34vw;
  }


  /*Cards*/

  .titulo_login {
    display: inline;
    color: #47525E;
    font-size: 34px;
    height: 51px;
    width: 100%;
    text-decoration: none;
  }

  .label_login {
    display: inline;
    color: #474747;
    font-size: 20px;
    margin: 15px 0px 30px 0px;
  }

  .cards_login{
    display: flex;
    flex-direction: column;
    border: solid 1px #c8c9ca;
    border-radius: 12px;
    width: 560px;
    height: 600px;
    padding: 12px;
    text-align: center;
    background-color: #fafafa;
    filter: drop-shadow(0 0 5px rgb(48, 48, 48));
  }

  i.fa-solid.fa-circle-user {
    font-size: 160px;
    color: #47525E
  }

  .imagem_Login {
    display: inline;
    margin: 20px auto;
  }

  .inputs_login {
    display: flex;
    flex-direction: column;
    margin: 18px auto 16px;
    margin-top: 18px;
    width: auto;
    padding: 0px;
    text-align: center;
    font-family: 'Inter', sans-serif;
  }

  .input_Login {
    display: flex;
    align-items: center;
    border: solid 1px rgb(122, 122, 122);
    border-radius: 4px;
    padding: 4px;
    width: 420px;
    height: 36px;
    margin-top: 8px;
    font-size: 18px;
  }

  .input_Login:hover {
    border: 2px solid rgba(70, 203, 243, 0.836);
    filter: drop-shadow(0 0 1px rgb(62, 195, 236));
  }

  .input_Login:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }

  /*Carde login*/

  .link_login {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }

  #link_cadastrarSe {
    margin-top: 15px;
  }


  /*Card Cadastro*/

  .btn_arrow {
    display: flex;
    align-items: start;
    background: #fafafa;
  }

  .btn_arrow:hover {
    cursor:pointer;
  }

  #btn_arrow {
    font-size: 24px;
  }

  #btn_arrow:hover {
    transform: scale(1.05);
    transition: 0.3ms;
  }

  #cadastrar_Login{
    display: none;
  }


  /*Botoes login*/

  #btn_entrar {
    display: block;
    margin: 10px 0px;
  }

  .btn_Login {
    display: flex;
    align-items: center;
    margin: 15px auto;
    padding: 5px 10px;
    height: 40px;
    font-size: 20px;
    border: solid 1.5px gray;
    border-radius: 4px;
    background-color: #47525E;
    color: white;
  }

  .btn_Login:hover {
    transform: scale(1.05);
    background-color: #727272;
  }

  #btn_cadastro {
    display: flex;
    margin: 20px 0px;
    justify-content: space-between;
  }

  /*Icone botoes de doação e cadastro*/

  .icon_cadastro {
    display: flex;
    margin-right: 8px;
    font-size: 18px;
    border: none;
  }

  /*Descrições do SUDA*/

  #description {
    display: flex;
    align-items: center;
    margin: 20px 10px;
  }

  #label_description {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-bottom: 0px;
    color: whitesmoke;
  }


  /* Configurações do footer padrão da pagina*/
  #footer {
    display: flex;
    position: absolute;
    bottom: end;
  }

  #footer_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    background-color: #020202;
    color: wheat;
    padding: 3rem 3.5rem;
  }

  #footer-socialmedia {
    margin-top: 1.45rem;
    display: flex;
    gap: 1.15rem;
  }

  /*Midias Sociais*/
  #logo_footer {
    display: inline;
    width: 200px;
    height: 80px;
    background: white;
  }

  #footer-socialmedia .footer-link {
    width: 2.15rem;
    height: 2.15rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s;
  }

  #footer-socialmedia .footer-link i {
    font-size: 1.20rem;
    color: #DCDCE4;

  }

  #footer-socialmedia .footer-link :hover {
    opacity: 75%;
  }

  #instagram {
    background: linear-gradient(#7f37e9, #ff2992, #ff9807);
  }

  #facebook {
    background: linear-gradient(#3B91EA, #5777EB);
  }

  #whatsapp {
    background: #38B82F;
  }

  /*Sobre*/
  #footer_list {
    gap: 0.75rem;
    list-style: none;
  }

  #footer_list .footer-link {
    display: flex;
    margin: 20px 0px;
    text-decoration: none;
    color: #DCDCE4;
    transition: all 0.35s;
  }

  #footer_list .footer-link:hover {
    opacity: 75%;
    color: #7f37e9;
  }

  /*Inscreva-se*/

  .input-group {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    align-items: start;
    color: #DCDCE4;
  }

  .input-group p {
    margin: 20px 0px;
  }

  .input-group a {
    display: flex;
    align-items: center;
  }

  #email {
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    background: #D9D9D9;
    padding: 0.65rem;
    font-size: 16px;
  }

  #email:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }

  .input-group button {
    background-color: #38B82F;
    color: #DCDCE4;
    border: none;
    padding: 0.5rem;
    font-size: 1.25rem;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    transition: all 0.5s;
  }

  .input-group button :hover {
    opacity: 80%;
  }

  /*Copyright*/

  #footer_copyright {
    display: flex;
    width: 100%;
    padding: 10px 0px;
    justify-content: center;
    background-color: #000000;
    color: #D9D9D9;
  }
