  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500&display=swap');

  /* Estilização geral do site */
  * {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
  }

  body {
    /*background:linear-gradient(135deg,rgb(89, 2, 202) 25%, rgb(3, 52, 156) 50%, rgb(10, 111, 194) 75%);*/
    background: linear-gradient(135deg, rgb(49, 99, 192) 15%, rgb(0, 5, 14) 85%);
  }

  /* Estilização Header padrão*/
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
  }

  #logo {
    display: inline;
    margin: 10px 20px;
    width: 200px;
    height: 80px;
    background: white;
  }

  i.fa-solid.fa-house:hover {
    transform: scale(1.025);
    transition-duration: 0.1s;
  }

  i.fa-solid.fa-house {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    font-size: 26px;
  }

  /*Configuração do login entrar e cadastrar*/

  .login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 60px 80px;
  }

  .ilustration_login {
    width: 34vw;
  }


  /*Cards*/

  .titulo_login {
    display: inline;
    color: #47525E;
    font-size: 34px;
    height: 51px;
    width: 100%;
    text-decoration: none;
  }

  .label_login {
    display: inline;
    color: #474747;
    font-size: 20px;
    margin: 15px 0px 30px 0px;
  }

  .cards_login{
    display: flex;
    flex-direction: column;
    border: solid 1px #c8c9ca;
    border-radius: 12px;
    width: 560px;
    height: 600px;
    padding: 12px;
    text-align: center;
    background-color: whitesmoke;
    filter: drop-shadow(0 0 5px rgb(48, 48, 48));
  }

  i.fa-solid.fa-circle-user {
    font-size: 160px;
    color: #47525E
  }

  .imagem_Login {
    display: inline;
    margin: 20px auto;
  }

  .forms_login{
    display: flex;
    justify-content: center;
  }

  .inputs_login {
    display: flex;
    flex-direction: column;
    margin: 18px auto 0px;
    margin-top: 18px;
    width: auto;
    padding: 0px;
    text-align: center;
    font-family: 'Inter', sans-serif;
  }

  .dados_Login {
    position: relative;
    display: flex;
    align-items: center;
    border: solid 1px rgb(122, 122, 122);
    border-radius: 4px;
    width: 420px;
    height: 36px;
    margin-top: 12px;
    font-size: 18px;
    background: transparent;
  }

  .dados_Login:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }

  .inputs_Cards{
    display: flex;
    padding: 4px;
    width: 100%;
    height: 100%;
    background: transparent;
  }

  .inputs_Cards:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }

  span{
    position: absolute;
    opacity: 0.5;
  }

  .inputs_login span{
    top: 6px;
    left: 8px;
  }

  .inputs_Cards:valid ~ span{
    top: -10px;
    left: 6px;
    opacity: 1;
    padding: 0px 6px;
    background: whitesmoke;
    transition: all 0.3s;
    font-size: 14px;
  }

  .inputs_Cards:hover ~ span{
    top: -10px;
    left: 6px;
    opacity: 1;
    padding: 0px 6px;
    background: whitesmoke;
    transition: all 0.3s;
    font-size: 14px;
  }

  span:hover{
    top: -10px;
    left: 6px;
    opacity: 1;
    padding: 0px 6px;
    background: whitesmoke;
    transition: all 0.3s;
    font-size: 14px;
  }

  /*Card login*/

  .link_login {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }

  #link_cadastrarSe {
    margin-top: 15px;
  }

  .animation{
    background: whitesmoke;
    border-radius: 4px;
    animation: error 1s ease-in-out;
  }

  @keyframes error{
    0%{
      transform: translateX(1.5px) scale(1.025);
      border: 1px solid red;
    }25%{
      transform: translateX(3px) scale(1.025);
      border: 1px solid red;
    }
    50%{
      transform: translateX(-1.5px) scale(1.025);
      border: 1px solid red;
    }
    50%{
      transform: translateX(-3px) scale(1.025);
      border: 1px solid red;
    }100%{
      transform: translateX(0px) scale(1.025);
      border: 1px solid red;
    }
  }

  /*Tela modal - Trocar Senha*/
  .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: whitesmoke;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 40%;
    height: 300px;
    font-family: 'Inter', sans-serif;
    color: #474747;
  }

  .modal-content h2{
    display: flex;
    justify-content: center;
    font-size: 34px;
  }

  .modal-content p{
    display: flex;
    justify-content: center;
    font-size: 20px;
  }

  #ModalSpan{
    display: flex;
    margin: 10px;
    font-size: 18px;
  }

  #ModalEmailConfirmar{
    display: flex;
    width: 60%;
    height: 26px;
    border: 1px solid black;
    border-radius: 12px;
    margin: 10px auto;
    padding: 4px;
  }

  #ModalEmailConfirmar:hover{
    transform: scaleX(1.025);
    transition: 0.1s;
  }

  #ModalSenhaNova{
    display: flex;
    width: 60%;
    height: 26px;
    border: 1px solid black;
    border-radius: 12px;
    margin: 10px auto;
    padding: 4px;
  }

  #ModalSenhaNova:hover{
    transform: scale(1.025);
    transition: 0.1s;
  }

  #ModalSenhaNova:disabled{
    background: #b8b8b888;
  }

  #btn_confirmar{
    display: flex;
    border: 1px solid black;
    border-radius: 4px;
    padding: 6px;
    background: #47525E;
    color: white;
    font-weight: 800;
  }

  #btn_confirmar:hover{
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.025);
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: -16px;
    right: -6px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /*Card Cadastro*/

  .btn_arrow {
    display: flex;
    align-items: start;
    background-color: whitesmoke;
  }

  .btn_arrow:hover {
    cursor:pointer;
  }

  #btn_arrow {
    font-size: 24px;
  }

  #btn_arrow:hover {
    transform: scale(1.05);
    transition: 0.3ms;
  }

  #cadastrar_Login{
    display: none;
    height: 100%;
  }

  .btn_Login:disabled{
    background: #000000;
    color:#727272;
    opacity: 0.5;
    transition: 1s;
  }

  .btn_Login:disabled:hover{
    transform: scale(1);
    background: #000000;
    color:#727272;
    opacity: 0.5;
  }

  .btn_Login {
    display: flex;
    align-items: center;
    margin: 15px auto;
    padding: 5px 10px;
    height: 40px;
    font-size: 20px;
    border: solid 1.5px gray;
    border-radius: 4px;
    background-color: #47525E;
    color: white;
    transition: 1s;
  }

  .btn_Login:hover {
    transform: scale(1.05);
    background-color: #727272;
    cursor:pointer;
  }
  
  #btn_cadastro {
    display: flex;
    margin: 20px 0px;
    justify-content: space-between;
  }

  /*Icone botoes de doação e cadastro*/

  .icon_cadastro {
    display: flex;
    margin-right: 8px;
    font-size: 18px;
    border: none;
  }

  /*Descrições do SUDA*/

  #description {
    display: flex;
    align-items: center;
    margin: 20px 10px;
  }

  #label_description {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-bottom: 0px;
    color: whitesmoke;
  }

  /*Footer*/
  #footer_subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
  }